body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  width: 350px;
}

h2 {
  margin: 0 0 10px 0;
}

textarea {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  resize: none;
}
